<section class="row">
    <section class="col-sm-push-2 col-md-push-2 col-md-7 col-md-7 col-sm-7 col-xs-12 paddingTop20">
        <section class="main-panel">
            <section class="user-interaction">
                <section class="conversation clearfix">
                    <article class="conver-type">
                        <textarea rows="4" cols="50" placeholder="start a conversation"></textarea>

                        <i></i>
                    </article>
                    <figure class="user-pic">
                        <figure>
                            <img src="~/assests/images/pro_img.png" alt="">
                            <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                        </figure>
                    </figure>
                </section>

                <section class="notification-tag" style="display: none">
                    <div class="dropdown">
                        <a href="#" class="btn btn-default dropdown-toggle neigbouhood" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i><img src="~/assests/images/neigbouhood.png" alt=""></i> <span>neighbourhood</span>
                        </a>
                        <ul class="dropdown-menu neighbourdp" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#"><span>neighbourhood 1,</span> region x</a>
                            </li>
                            <li>
                                <a href="#"><span>neighbourhood 1,</span> region y</a>
                            </li>

                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="btn btn-default dropdown-toggle tags" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i><img src="~/assests/images/tags.png" alt=""></i> <span>tags</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#"><i></i>tag1</a>
                            </li>
                            <li>
                                <a href="#"><i></i>tag1 </a>
                            </li>
                            <li>
                                <a href="#"><i></i>tag1</a>
                            </li>
                            <li>
                                <a href="#"><i></i>tag1</a>
                            </li>
                            <li>
                                <span>
                                    select up
                                    to <small>3 tags</small>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <a href="#" class="go-next">Go</a>

                </section>

            </section>
            <section class="post-discussion">
                <ul>
                    <li>
                        <a href="#"> <img src="~/assests/images/post-icon.png" alt=""> <span><small>Post an</small> Article</span></a>
                    </li>
                    <li>
                        <a href="#"> <img src="~/assests/images/comment-icon.png" alt=""> <span><small>Start a</small> Discussion</span></a>
                    </li>
                </ul>
            </section>
        </section>
    </section>


</section>