<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <footer class="footer clearfix" style="float:none;overflow:hidden">
        <ul class="footer_menu">
            <li>
                <a href="privacy-policy.php">Privacy Policy</a>
            </li>
            <li>
                <a href="terms-conditions.php">Terms and Condition of Use</a>
            </li>
            <li>
                <a href="#">Team</a>
            </li>
            <li>
                <a href="#">Connect with Us</a>
            </li>
        </ul>
        <p>
            Disclaimer: Lorem ipsum dolores est. Proin quis est nulla. Praesent sit amet arcu non quam
            condimentum elementum. Morbi dapibus accumsan faucibus. Integer finibus bibendum ipsum sed
            pellentesque
        </p>
    </footer>
    <script type="text/javascript" src="~/assests/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/assests/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/assests/js/custom.js"></script>
    <script type="text/javascript" src="~/assests/js/placeholder_polyfill.jquery.min.combo.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/assests/js/slimscrolldiv.js"></script>
    <script type="text/javascript">
        $('.testDiv').slimScroll({
            height: '223px',
            width: '100%',
            opacity: 1,
            size: '4px',
            color: '#920300',
            alwaysVisible: true,
            railVisible: true,
            railColor: '#ffffff',

            railOpacity: 1
        });
        /* $(function () {
             $("a.search").click(function () {
                 $("form.formArea").toggle();
                 $(".loggedIn").toggle();
                 $(".signUp").toggle();
                 changeSearchIcon();
             });
         });
         function changeSearchIcon() {
             var img = document.getElementById('searchIcon');
             if (img.src.search(/search_hover/) == -1) {
                 document.getElementById('searchIcon').src = '~/assests/images/search_hover.png';
             } else {
                 document.getElementById('searchIcon').src = '~/assests/images/search_icon.png';
             }

         }*/
    </script>
</body>
</html>