<section class="col-md-3 col-sm-12 col-xs-12 ">
    <section class="left-sec right-sec clearfix">
        <h3 class="title">Elsewhere On Qluto</h3>

        <form class="clearfix clear">
            <ul class="search-sec clearfix">
                <li>
                    <span>
                        <input type="radio" name="sort1" id="latest1" />
                        <label for="latest1">latest</label>
                    </span>
                </li>
                <li>
                    <span>
                        <input type="radio" name="sort1" id="popular1" />
                        <label for="popular1">popular</label>
                    </span>
                </li>

            </ul>
        </form>

        <div class="contentAside clearfix clear">
            <div class="breif-desc clearfix">
                <div class="pic">
                    <img src="~/assests/images/post-icon.png" alt="">
                </div>
                <div class="desc">
                    <p>
                        name of article, ... <br />
                      
                    </p>
                </div>
            </div>

            <div class="author">
                <div class="authorpic">
                    <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure>
                </div>
                <div class="authortitle">
                    <small>author name</small>
                </div>
            </div>
            <div class="comentTex">
                <strong>25</strong>
                <small>comment</small>
            </div>
        </div>
        <div class="contentAside clearfix">
            <h6>Upcoming</h6>

            <div class="breif-desc clearfix">
                <div class="pic">
                    <img src="~/assests/images/upcoming.png" alt="">
                </div>
                <div class="desc">
                    <p>
                        title of discussion.. <br />
                      
                    </p>
                </div>
            </div>
            <div class="author">
                <div class="authorpic">
                    <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure>
                </div>
                <div class="authortitle">
                    <small>starts</small>
                    <span>15th July</span>
                </div>
            </div>
            <div class="comentTex">
                <strong>25</strong>
                <small>comment</small>
            </div>
        </div>
        <div class="contentAside clearfix">
            <h6>Ongoing</h6>

            <div class="breif-desc clearfix">
                <div class="pic">
                    <img src="~/assests/images/upcoming.png" alt="">
                </div>
                <div class="desc">
                    <p>
                        title of discussion.. <br />
                      
                    </p>
                </div>
            </div>
            <div class="author">
                <div class="authorpic">

                    <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure>
                </div>
                <div class="authortitle">
                    <small>ends</small>
                    <span>25th July</span>
                </div>
            </div>
            <div class="comentTex">
                <strong>25</strong>
                <small>comment</small>
            </div>
        </div>
        <div class="contentAside clearfix">
            <div class="breif-desc clearfix">
                <div class="pic">
                    <img src="~/assests/images/conversation.png" alt="">
                </div>
                <div class="desc">
                    <p>
                        conversation tags.. <br />
                        
                    </p>
                </div>
            </div>
            <div class="author">
                <div class="authorpic">
                    <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="comentTex">
                <strong>25</strong>
                <small>comment</small>
            </div>
        </div>

    </section>
</section>