<aside class="col-md-2 col-sm-12 col-xs-12">

    <section class="left-sec clearfix">
        <h3 class="title">In My Neighbourhoods</h3>

        <form class="active">
            <ul class="search-sec clearfix">
                <li>
                    <span>
                        <input type="radio" name="sort" id="latest" />
                        <label for="latest">latest</label>
                    </span>
                </li>
                <li>
                    <span>
                        <input type="radio" name="sort" id="popular" />
                        <label for="popular">popular</label>
                    </span>
                </li>

            </ul>
        </form>
        <section class="contentAside clearfix">

            <section class="breif-desc clearfix">
                <figure class="pic">
                    <img src="~/assests/images/post-icon.png" alt="">
                </figure>
                <article class="desc">
                    <p>
                        name of article, ...<br />
                    
                    </p>
                </article>
            </section>

            <section class="author">
                <figure class="authorpic">
                    <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure>
                </figure>
                <article class="authortitle">
                    <small>author name</small>
                </article>

            </section>
        </section>
        <section class="contentAside clearfix">
            <h6>Upcoming</h6>

            <section class="breif-desc clearfix">
                <figure class="pic">
                    <img src="~/assests/images/upcoming.png" alt="">
                </figure>
                <article class="desc">
                    <p>
                        title of discussion.<br />
                      
                    </p>
                </article>
            </section>

            <section class="author">
                <figure class="authorpic">
                    <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="`/assests/images/photoframeWhite.png" alt="">
                    </figure>
                </figure>
                <article class="authortitle">
                    <small>starts</small>
                    <span>15th July</span>
                </article>

            </section>
        </section>
        <section class="contentAside clearfix">
            <h6>Ongoing</h6>

            <section class="breif-desc clearfix">
                <figure class="pic">
                    <img src="~/assests/images/upcoming.png" alt="">
                </figure>
                <article class="desc">
                    <p>
                        title of discussion.<br />
                     
                    </p>
                </article>
            </section>

            <section class="author">
                <figure class="authorpic">
                    <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure>
                </figure>
                <article class="authortitle">
                    <small>ends</small>
                    <span>25th July</span>
                </article>
            </section>
        </section>
        <section class="contentAside clearfix">

            <section class="breif-desc clearfix">
                <figure class="pic">
                    <img src="~/assests/images/conversation.png" alt="">
                </figure>
                <article class="desc">
                    <p>
                        conversation tags.. <br />
                       
                    </p>
                </article>
            </section>
            <div class="author">
                <div class="authorpic">
                    <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure> <figure>
                        <img src="~/assests/images/pro_img.png" alt="">
                        <img class="frame" src="~/assests/images/photoframeWhite.png" alt="">
                    </figure>
                </div>
            </div>
        </section>
    </section>
</aside>