<section class="container clearfix">
   @Html.Partial("_CommentBoxSection") 
    <section class="midSection clearfix">
        @Html.Partial("_myNeighbourhood_panel_left")
        <section class="col-md-7 col-sm-12 col-xs-12 ">
            <section class="main-panel">
                <section class="middle-section">
                    <h2>
                        <img src="~/assests/images/folder.png" alt=""><span>My Folder</span>
                    </h2>
                </section>
                <!--crowsel-->
                <section class="searchTypeTag">
                    <section class="clearfix">

                        <h4>Sort by</h4>
                        <ul class="headingBoxIcon">
                            <li class="active">
                                <img src="~/assests/images/calender_active.png" alt="">
                                <img src="~/assests/images/calender.png" alt="">
                            </li>
                            <li>
                                <img src="~/assests/images/neighbourhood-active.png">
                                <img src="~/assests/images/icon3.png" alt="">
                            </li>
                            <li>

                                <img src="~/assests/images/tagered.png" alt="">
                                <img src="~/assests/images/hash_gray.png" alt="">
                            </li>
                            <li>
                                <img src="~/assests/images/my-folder-icon.png" alt="">
                                <img src="~/assests/images/my-folder.png" alt="">
                            </li>
                        </ul>




                    </section>
                </section>


                <div class="panel-group">


                    <div class="breif-descBox clearfix">
                        <img class="pull-right" src="~/assests/images/cross-icon.png" alt="" />

                        <div class="small_img">
                            <img src="~/assests/images/balloon-small.png" alt="">
                        </div>
                        <div class="details_box">
                            <p>Title of Article number 1: subtitle of article number 1</p>

                            <p>
                                first few lines or short description of the article submitted by author or created by the
                                Qluto editorial teamlorem ipsum dolores est.
                            </p>

                            <p class="dateSection">5th July 2015</p>
                        </div>
                        <div class="tagshead pull-right">
                            <img src="~/assests/images/author.png" alt="" />
                            user name
                            <img src="~/assests/images/neighbourhood.png" alt="" />
                            neighbourhood

                            <ul>
                                <li>
                                    <img src="~/assests/images/small_tag.png" />
                                    tag1,
                                </li>
                                <li>
                                    tag2,
                                </li>
                                <li>
                                    tag3
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="breif-descBox clearfix">
                        <img class="pull-right" src="~/assests/images/cross-icon.png" alt="" />

                        <div class="small_img">
                            <img src="~/assests/images/multi-balloon.png" alt="">
                        </div>
                        <div class="details_box">
                            <p>Title of Article number 1: subtitle of article number 1</p>

                            <p>
                                first few lines or short description of the article submitted by author or created by the
                                Qluto editorial teamlorem ipsum dolores est.
                            </p>

                            <p class="dateSection">5th July 2015</p>
                        </div>
                        <div class="tagshead pull-right">
                            <img src="~/assests/images/author.png" alt="" />
                            user name
                            <img src="~/assests/images/neighbourhood.png" alt="" />
                            neighbourhood

                            <ul>
                                <li>
                                    <img src="~/assests/images/small_tag.png" />
                                    tag1,
                                </li>
                                <li>
                                    tag2,
                                </li>
                                <li>
                                    tag3
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="breif-descBox clearfix">
                        <img class="pull-right" src="~/assests/images/cross-icon.png" alt="" />

                        <div class="small_img">
                            <img src="~/assests/images/small-notebook.png" alt="">
                        </div>
                        <div class="details_box">
                            <p>Title of Article number 1: subtitle of article number 1</p>

                            <p>
                                first few lines or short description of the article submitted by author or created by the
                                Qluto editorial teamlorem ipsum dolores est.
                            </p>

                            <p class="dateSection">5th July 2015</p>
                        </div>
                        <div class="tagshead pull-right">
                            <img src="~/assests/images/author.png" alt="" />
                            user name
                            <img src="~/assests/images/neighbourhood.png" alt="" />
                            neighbourhood

                            <ul>
                                <li>
                                    <img src="~/assests/images/small_tag.png" />
                                    tag1,
                                </li>
                                <li>
                                    tag2,
                                </li>
                                <li>
                                    tag3
                                </li>
                            </ul>
                        </div>

                    </div>


                </div>

            </section>
        </section>
        @Html.Partial("_myNeighbourhood_panel_right")
    </section>
</section>

