<section class="container defaultPage-body clearfix">
    @Html.Partial("_CommentBoxSection")
    <section class="midSection clearfix">
     @Html.Partial("_myNeighbourhood_panel_left")
        <section class="col-md-7 col-sm-12 col-xs-12">
            <section class="network">
                <h2>
                    <a href="javascript:void(0)" id="mynetwork"><img src="~/assests/images/iconA2.png" alt=""><span>My Network</span><img id="mynetworkArrow" src="~/assests/images/arrow.png" alt=""></a>
                </h2>

                <div class="networkSearch" style="display: none">
                    <a href="javascript:void(0)"><img src="~/assests/images/serarcg-icon.png" /></a>
                    <span><input type="text" placeholder="my network" /></span>
                </div>


                <div class="neiughberHood-Article" style="display:none">
                    <div class="userSelection clearfix">

                        <div class="element">
                            <div class="testDiv">
                                <ul>
                                    <li class="listHead">
                                        Neighbourhood 1
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>

                                    <li class="listHead">
                                        Neighbourhood 1
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>

                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li class="listHead">
                                        Neighbourhood 1
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li class="listHead">
                                        Neighbourhood 1
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>
                                    <li>
                                        username 1 <i></i>
                                    </li>

                                </ul>
                            </div>

                        </div>
                        <div class="sortedType">
                            <span>sort by</span>
                            <ul>
                                <li>
                                    <span>
                                        <input type="radio" name="sort" id="neighbourhood" />
                                        <label for="neighbourhood">neighbourhood</label>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <input type="radio" name="sort" id="userName" />
                                        <label for="userName">user name</label>
                                    </span>
                                </li>
                            </ul>

                            <div class="sortedInstruction">

                                <p>
                                    Select a user to see their page,
                                    or look below to see the recent
                                    activities in your network
                                </p>
                            </div>

                        </div>

                    </div>

                    <div class="searchType">

                        <ul>
                            <li>
                                <a href="#">Explore new people</a>
                            </li>
                            <li class="active">
                                <a href="#">Save Changes</a>
                            </li>
                        </ul>

                    </div>

                    <i></i>

                </div>

            </section>
            <section class="middle-section defaultPage">

                <!--crowsel-->
                <div class="panel-group" id="accordionList" role="tablist" aria-multiselectable="true">
                    <div class="panel ">
                        <div class="panel-heading has-feedback active" role="tab" id="headingZero">
                            <span class="nav-icon" role="button" data-toggle="collapse" data-parent="#accordionList" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero"><i></i></span>

                            <div class="heading-desc headingOne">
                                <div class="neighbour">
                                    <img src="~/assests/images/naber_icon.png" alt=""><span>Neighbourhood</span>
                                </div>
                                <div class="tagshead darkRedColor">
                                    <img src="~/assests/images/tag.png" alt="">
                                    <ul>
                                        <li>
                                            tag1,
                                        </li>
                                        <li>
                                            tag2,
                                        </li>
                                        <li>
                                            tag3
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="headingSection accordContent">

                                <div class="accordsection one clearfix">

                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>

                                            <a href="#" class="star star3">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="user-block">
                                                <img src="~/assests/images/thumb1.png" alt="">
                                                <img src="~/assests/images/thumb2.png" alt="">
                                                <img src="~/assests/images/thumb3.png" alt="">
                                                <img src="~/assests/images/thumb4.png" alt="">
                                                <img src="~/assests/images/thumb5.png" alt="">
                                                <span class="commentcount">+13</span>
                                            </div>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
                            <div class=" accordContent headingSection">
                                <div class="accordsection one clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>
                                    <div class="userneed">
                                        <a class="edit" href="#"> <img src="~/assests/images/edit.png" alt=""> </a>
                                        <a class="cross" href="#"> <img src="~/assests/images/cross.png" alt=""> </a>
                                        <a class="movenext" href="#">
                                            <img src="~/assests/images/reply.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="accordsection  two clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>

                                    <div class="userneed">
                                        <a class="edit" href="#"> <img src="~/assests/images/check.png" alt=""> </a>
                                        <a class="cross" href="#"> <img src="~/assests/images/reply.png" alt=""> </a>
                                        <a class="movenext" href="#"> <img src="~/assests/images/men.png" alt=""> </a>

                                    </div>
                                </div>
                                <div class="accordsection three clearfix">

                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>

                                            <a href="#" class="star star3">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                            <a href="#" class="openLink"><img src="~/assests/images/msgA.png" alt=""></a>
                                        </div>

                                        <div class="userneed">
                                            <a class="edit" href="#">
                                                <strong>3</strong>
                                                <img src="~/assests/images/checkA.png" alt="">
                                            </a>
                                            <a class="cross" href="#">
                                                <img src="~/assests/images/reply.png" alt="">
                                            </a>
                                            <a class="movenext" href="#">
                                                <img src="~/assests/images/menA.png" alt="">
                                            </a>

                                        </div>
                                    </div>
                                    <div class="accordsection four clearfix">

                                        <div class="breif-desc clearfix">
                                            <div class="pic">
                                                <figure>
                                                    <img src="~/assests/images/pro_img.png" alt="">
                                                    <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                                </figure>
                                                <span class="username">User Name</span>
                                                <small class="daytime">2 week ago</small>

                                                <a href="#" class="star star3">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </a>
                                            </div>
                                            <div class="desc">
                                                <img src="~/assests/images/img3.png" alt="">
                                            </div>
                                            <a href="#" class="openLink"><img src="~/assests/images/msgA.png" alt=""></a>
                                        </div>

                                        <div class="userneed">
                                            <a class="edit" href="#">
                                                <strong>3</strong><img src="~/assests/images/checkA.png" alt="">
                                            </a>
                                            <a class="cross" href="#">
                                                <img src="~/assests/images/replyA.png" alt="">
                                            </a>
                                            <a class="movenext" href="#">
                                                <strong>13</strong><img src="~/assests/images/menA.png" alt="">
                                            </a>

                                        </div>
                                        <div class="conversation">
                                            <div class="conver-type">
                                                <textarea rows="4" cols="50"></textarea>
                                                <i></i>
                                            </div>
                                            <div class="user-pic">
                                                <img alt="" src="~/assests/images/thumb1.png">

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="panel ">
                        <div class="panel-heading has-feedback" role="tab" id="headingFive">
                            <span class="nav-icon" role="button" data-toggle="collapse" data-parent="#accordionList" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive"><i></i></span>

                            <div class="heading-desc headingTwo">

                                <div class="neighbour">
                                    <img src="~/assests/images/naber_icon.png" alt=""><span> Neighbourhood</span>
                                </div>

                                <div class="tagshead">
                                    <img src="~/assests/images/post-icon.png" alt="">

                                    <ul>
                                        <li>
                                            Article title
                                        </li>

                                    </ul>

                                </div>

                            </div>

                            <div class="headingSection accordContent">

                                <div class="accordsection one clearfix">

                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="user-block">
                                                <img src="~/assests/images/thumb1.png" alt="">
                                                <img src="~/assests/images/thumb2.png" alt="">
                                                <img src="~/assests/images/thumb3.png" alt="">
                                                <img src="~/assests/images/thumb4.png" alt="">
                                                <img src="~/assests/images/thumb5.png" alt="">
                                                <span class="commentcount">+13</span>
                                            </div>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseFive">

                            <div class=" accordContent headingSection">
                                <div class="accordsection one clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>
                                    <div class="userneed">
                                        <a class="edit" href="#"> <img src="~/assests/images/edit.png" alt=""> </a>
                                        <a class="cross" href="#"> <img src="~/assests/images/cross.png" alt=""> </a>
                                        <a class="movenext" href="#">
                                            <img src="~/assests/images/reply.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="accordsection  two clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>

                                    <div class="userneed">
                                        <a class="edit" href="#"> <img src="~/assests/images/check.png" alt=""> </a>
                                        <a class="cross" href="#"> <img src="~/assests/images/reply.png" alt=""> </a>
                                        <a class="movenext" href="#"> <img src="~/assests/images/men.png" alt=""> </a>

                                    </div>
                                </div>
                                <div class="accordsection three clearfix">

                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                            <a href="#" class="openLink"><img src="~/assests/images/msgA.png" alt=""></a>
                                        </div>

                                        <div class="userneed">
                                            <a class="edit" href="#">
                                                <strong>3</strong>
                                                <img src="~/assests/images/checkA.png" alt="">
                                            </a>
                                            <a class="cross" href="#">
                                                <img src="~/assests/images/reply.png" alt="">
                                            </a>
                                            <a class="movenext" href="#">
                                                <img src="~/assests/images/menA.png" alt="">
                                            </a>

                                        </div>
                                    </div>
                                    <div class="accordsection four clearfix">

                                        <div class="breif-desc clearfix">
                                            <div class="pic">
                                                <figure>
                                                    <img src="~/assests/images/pro_img.png" alt="">
                                                    <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                                </figure>
                                                <span class="username">User Name</span>
                                                <small class="daytime">2 week ago</small>

                                                <a href="#" class="star star3">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </a>
                                            </div>
                                            <div class="desc">
                                                <img src="~/assests/images/img3.png" alt="">
                                            </div>
                                            <a href="#" class="openLink"><img src="~/assests/images/msgA.png" alt=""></a>
                                        </div>

                                        <div class="userneed">
                                            <a class="edit" href="#">
                                                <strong>3</strong><img src="~/assests/images/checkA.png" alt="">
                                            </a>
                                            <a class="cross" href="#">
                                                <img src="~/assests/images/replyA.png" alt="">
                                            </a>
                                            <a class="movenext" href="#">
                                                <strong>13</strong><img src="~/assests/images/menA.png" alt="">
                                            </a>

                                        </div>
                                        <div class="conversation">
                                            <div class="conver-type">
                                                <textarea rows="4" cols="50"></textarea>
                                                <i></i>
                                            </div>
                                            <div class="user-pic">
                                                <img alt="" src="~/assests/images/thumb1.png">

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel ">
                        <div class="panel-heading has-feedback" role="tab" id="headingSix">
                            <span class="nav-icon" role="button" data-toggle="collapse" data-parent="#accordionList" href="#collapseSix" aria-expanded="true" aria-controls="collapseThree"><i></i></span>

                            <div class="heading-desc headingTwo">

                                <div class="neighbour">
                                    <img src="~/assests/images/naber_icon.png" alt=""><span> Neighbourhood</span>
                                </div>

                                <div class="tagshead">
                                    <img src="~/assests/images/tag.png" alt="">

                                    <ul>
                                        <li>
                                            tag1,
                                        </li>
                                        <li>
                                            tag2,
                                        </li>
                                        <li>
                                            tag3
                                        </li>
                                    </ul>

                                </div>

                            </div>

                            <div class="headingSection accordContent">

                                <div class="accordsection one clearfix">

                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>


                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>
                                    <div class="userneed">
                                        <a href="#" class="edit"> <img alt="" src="~/assests/images/check.png"> </a>
                                        <a href="#" class="cross"> <img alt="" src="~/assests/images/reply.png"> </a>
                                        <a href="#" class="movenext">
                                            <img alt="" src="~/assests/images/menA.png">
                                        </a>

                                    </div>

                                </div>
                                <div class="accordsection two clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>

                                        <div class="desc">
                                            <img src="~/assests/images/home7.jpg" alt="" title="" />
                                            <img src="~/assests/images/slides8.jpg" alt="" title="" />

                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>

                                    </div>
                                    <div class="userneed">
                                        <a href="#" class="edit"> <img alt="" src="~/assests/images/check.png"> </a>
                                        <a href="#" class="cross"> <img alt="" src="~/assests/images/reply.png"> </a>
                                        <a href="#" class="movenext">
                                            <img alt="" src="~/assests/images/menA.png">
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">

                            <div class=" accordContent headingSection">
                                <div class="accordsection one clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>
                                    <div class="userneed">
                                        <a class="edit" href="#"> <img src="~/assests/images/edit.png" alt=""> </a>
                                        <a class="cross" href="#"> <img src="~/assests/images/cross.png" alt=""> </a>
                                        <a class="movenext" href="#">
                                            <img src="~/assests/images/reply.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="accordsection  two clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>

                                    <div class="userneed">
                                        <a class="edit" href="#"> <img src="~/assests/images/check.png" alt=""> </a>
                                        <a class="cross" href="#"> <img src="~/assests/images/reply.png" alt=""> </a>
                                        <a class="movenext" href="#"> <img src="~/assests/images/men.png" alt=""> </a>

                                    </div>
                                </div>
                                <div class="accordsection three clearfix">

                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                            <a href="#" class="openLink"><img src="~/assests/images/msgA.png" alt=""></a>
                                        </div>

                                        <div class="userneed">
                                            <a class="edit" href="#">
                                                <strong>3</strong>
                                                <img src="~/assests/images/checkA.png" alt="">
                                            </a>
                                            <a class="cross" href="#">
                                                <img src="~/assests/images/reply.png" alt="">
                                            </a>
                                            <a class="movenext" href="#">
                                                <img src="~/assests/images/menA.png" alt="">
                                            </a>

                                        </div>
                                    </div>
                                    <div class="accordsection four clearfix">

                                        <div class="breif-desc clearfix">
                                            <div class="pic">
                                                <figure>
                                                    <img src="~/assests/images/pro_img.png" alt="">
                                                    <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                                </figure>
                                                <span class="username">User Name</span>
                                                <small class="daytime">2 week ago</small>
                                                <a href="#" class="star star1">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </a>
                                            </div>
                                            <div class="desc">
                                                <img src="assests/images/img3.png" alt="">
                                            </div>
                                            <a href="#" class="openLink"><img src="~/assests/images/msgA.png" alt=""></a>
                                        </div>

                                        <div class="userneed">
                                            <a class="edit" href="#">
                                                <strong>3</strong><img src="~/assests/images/checkA.png" alt="">
                                            </a>
                                            <a class="cross" href="#">
                                                <img src="~/assests/images/replyA.png" alt="">
                                            </a>
                                            <a class="movenext" href="#">
                                                <strong>13</strong><img src="~/assests/images/menA.png" alt="">
                                            </a>

                                        </div>
                                        <div class="conversation">
                                            <div class="conver-type">
                                                <textarea rows="4" cols="50"></textarea>
                                                <i></i>
                                            </div>
                                            <div class="user-pic">
                                                <img alt="" src="~/assests/images/thumb1.png">

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel ">
                        <div class="panel-heading has-feedback" role="tab" id="headingSeven">
                            <span class="nav-icon" role="button" data-toggle="collapse" data-parent="#accordionList" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven"><i></i></span>


                            <div class="headingSection accordContent">

                                <div class="accordsection one clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>

                                            <a href="#" class="star star3">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="arrowLine">
                                            <span>added</span>
                                            <img src="~/assests/images/arrowline.png" alt=" " tile="" />
                                        </div>
                                        <div class="pic picboxLeft ">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <small>
                                                to their network
                                            </small>
                                            <span class="username">User Name</span>
                                            <a href="#" class="star star3">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">

                            <div class=" accordContent headingSection">
                                <div class="accordsection one clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>
                                    <div class="userneed">
                                        <a class="edit" href="#"> <img src="~/assests/images/edit.png" alt=""> </a>
                                        <a class="cross" href="#"> <img src="~/assests/images/cross.png" alt=""> </a>
                                        <a class="movenext" href="#">
                                            <img src="~/assests/images/reply.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="accordsection  two clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>

                                    <div class="userneed">
                                        <a class="edit" href="#"> <img src="~/assests/images/check.png" alt=""> </a>
                                        <a class="cross" href="#"> <img src="~/assests/images/reply.png" alt=""> </a>
                                        <a class="movenext" href="#"> <img src="~/assests/images/men.png" alt=""> </a>

                                    </div>
                                </div>
                                <div class="accordsection three clearfix">

                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                            <a href="#" class="openLink"><img src="~/assests/images/msgA.png" alt=""></a>
                                        </div>

                                        <div class="userneed">
                                            <a class="edit" href="#">
                                                <strong>3</strong>
                                                <img src="~/assests/images/checkA.png" alt="">
                                            </a>
                                            <a class="cross" href="#">
                                                <img src="~/assests/images/reply.png" alt="">
                                            </a>
                                            <a class="movenext" href="#">
                                                <img src="~/assests/images/menA.png" alt="">
                                            </a>

                                        </div>
                                    </div>
                                    <div class="accordsection four clearfix">

                                        <div class="breif-desc clearfix">
                                            <div class="pic">
                                                <figure>
                                                    <img src="~/assests/images/pro_img.png" alt="">
                                                    <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                                </figure>
                                                <span class="username">User Name</span>
                                                <small class="daytime">2 week ago</small>

                                                <a href="#" class="star star3">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </a>
                                            </div>
                                            <div class="desc">
                                                <img src="assests/images/img3.png" alt="">
                                            </div>
                                            <a href="#" class="openLink"><img src="~/assests/images/msgA.png" alt=""></a>
                                        </div>

                                        <div class="userneed">
                                            <a class="edit" href="#">
                                                <strong>3</strong><img src="~/assests/images/checkA.png" alt="">
                                            </a>
                                            <a class="cross" href="#">
                                                <img src="~/assests/images/replyA.png" alt="">
                                            </a>
                                            <a class="movenext" href="#">
                                                <strong>13</strong><img src="~/assests/images/menA.png" alt="">
                                            </a>

                                        </div>
                                        <div class="conversation">
                                            <div class="conver-type">
                                                <textarea rows="4" cols="50"></textarea>
                                                <i></i>
                                            </div>
                                            <div class="user-pic">
                                                <img alt="" src="~/assests/images/thumb1.png">

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel ">
                        <div class="panel-heading has-feedback" role="tab" id="headingEight">
                            <span class="nav-icon" role="button" data-toggle="collapse" data-parent="#accordionList" href="#headingEight" aria-expanded="true" aria-controls="headingEight"><i></i></span>


                            <div class="headingSection accordContent">

                                <div class="accordsection one clearfix">

                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>

                                            <a href="#" class="star star3">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="arrowLine">
                                            <span>added</span>
                                            <img src="~/assests/images/arrowline.png" alt=" " tile="" />
                                        </div>
                                        <div class="pic picboxLeft">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <small>
                                                to their network
                                            </small>
                                            <span class="username">You</span>

                                            <a href="#" class="star star3">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>


                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="headingEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">

                            <div class=" accordContent headingSection">
                                <div class="accordsection one clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>
                                    <div class="userneed">
                                        <a class="edit" href="#"> <img src="~/assests/images/edit.png" alt=""> </a>
                                        <a class="cross" href="#"> <img src="~/assests/images/cross.png" alt=""> </a>
                                        <a class="movenext" href="#">
                                            <img src="~/assests/images/reply.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="accordsection  two clearfix">
                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                        </div>
                                        <a href="#" class="openLink"><img src="~/assests/images/msg.png" alt=""></a>
                                    </div>

                                    <div class="userneed">
                                        <a class="edit" href="#"> <img src="`/assests/images/check.png" alt=""> </a>
                                        <a class="cross" href="#"> <img src="~/assests/images/reply.png" alt=""> </a>
                                        <a class="movenext" href="#"> <img src="~/assests/images/men.png" alt=""> </a>

                                    </div>
                                </div>
                                <div class="accordsection three clearfix">

                                    <div class="breif-desc clearfix">
                                        <div class="pic">
                                            <figure>
                                                <img src="~/assests/images/pro_img.png" alt="">
                                                <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                            </figure>
                                            <span class="username">User Name</span>
                                            <small class="daytime">2 week ago</small>
                                            <a href="#" class="star star1">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="desc">
                                            <p>
                                                Proin quis est nulla.Praesent sit amet arcu non
                                                quam condimentum elementum.Morbi dapibus
                                                accumsan faucibus.Integer finibus bubendum
                                                ipsum sed pellentesque.Done scelerisque
                                                magna ac nisl rutrum faucibus.
                                            </p>

                                            <div class="pic-block">
                                                <img src="~/assests/images/img1.png" alt="">
                                                <img src="~/assests/images/img2.png" alt="">
                                            </div>
                                            <a href="#" class="openLink"><img src="~/assests/images/msgA.png" alt=""></a>
                                        </div>

                                        <div class="userneed">
                                            <a class="edit" href="#">
                                                <strong>3</strong>
                                                <img src="`/assests/images/checkA.png" alt="">
                                            </a>
                                            <a class="cross" href="#">
                                                <img src="~/assests/images/reply.png" alt="">
                                            </a>
                                            <a class="movenext" href="#">
                                                <img src="~/assests/images/menA.png" alt="">
                                            </a>

                                        </div>
                                    </div>
                                    <div class="accordsection four clearfix">

                                        <div class="breif-desc clearfix">
                                            <div class="pic">
                                                <figure>
                                                    <img src="~/assests/images/pro_img.png" alt="">
                                                    <img class="frame" src="~/assests/images/photo-frame.png" alt="">
                                                </figure>
                                                <span class="username">User Name</span>
                                                <small class="daytime">2 week ago</small>

                                                <a href="#" class="star star3">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </a>
                                            </div>
                                            <div class="desc">
                                                <img src="~/assests/images/img3.png" alt="">
                                            </div>
                                            <a href="#" class="openLink"><img src="~/assests/images/msgA.png" alt=""></a>
                                        </div>

                                        <div class="userneed">
                                            <a class="edit" href="#">
                                                <strong>3</strong><img src="~/assests/images/checkA.png" alt="">
                                            </a>
                                            <a class="cross" href="#">
                                                <img src="~/assests/images/replyA.png" alt="">
                                            </a>
                                            <a class="movenext" href="#">
                                                <strong>13</strong><img src="~/assests/images/menA.png" alt="">
                                            </a>

                                        </div>
                                        <div class="conversation">
                                            <div class="conver-type">
                                                <textarea rows="4" cols="50"></textarea>
                                                <i></i>
                                            </div>
                                            <div class="user-pic">
                                                <img alt="" src="~/assests/images/thumb1.png">

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section>
        </section>
        @Html.Partial("_myNeighbourhood_panel_right")
    </section>
</section>